*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after *:active *:focus *:hover {
    outline: 0;
    outline-offset: 0;
}

html {
    font-size: 14px;
}
body {
    font-family: 'Futura Book', sans-serif;
    font-size: 1rem;
}
img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 95%;
    max-width: 1366px;
    margin: auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.true {
    border: 3px solid #8ab037 !important;
}

.false {
    border: 3px solid #e01f28 !important;
}

.city {
    margin: 0 0 30px 0;
}

.tabscontainer {
    display: flex;
    align-items: flex-start;
}

.tabheader {
    position: relative;
    width: 320px;
    max-height: 475px;
    margin-right: 30px;
    background-color: #F5F5F7;
    overflow-x: hidden;
}

.tabheader__item {
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.tabheader__item:hover:not(.tabheader__item_active) {
    background-color: #fff;
    color: #000;
}

.tabheader::-webkit-scrollbar{
    width: 10px;
}
.tabheader::-webkit-scrollbar-track{
    background: #F1F1F1;
}
.tabheader::-webkit-scrollbar-thumb{
    background: #C1C1C1;
}

.tabheader__input--block {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #f5f5f7;
}

.tabheader__input--block input{
    width: 100%;
    height: 40px;
    padding: 5px 10px 5px 50px;
    font-size: 14px;
    border: none;
    background: #F5F5F7 url("../images/search.svg") no-repeat;
    background-position: center left 10px;
    outline: none;
}

.tabcontent__container {
    width: 100%;
}

.tabcontent__title {
    font-size: 24px;
    text-transform: uppercase;
    color: #646464;
}

.tabcontent__info--block {
    display: flex;
    margin-top: 40px;
}

.tabcontent__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    min-height: 120px;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #646464;
    border: 3px solid #F5F5F7;
}

.tabcontent__info--true {
    border: 3px solid #8ab037;
}

.tabcontent__info--false {
    border: 3px solid #D32F2F;
}

.tabcontent__info:last-of-type {
    margin-left: 30px;
}

.tabcontent__info--list {
    margin-top: 40px;
}

.tabcontent__info--list .tabcontent__info--item a {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #646464;
    text-transform: uppercase;
}